auth-server: http://localhost:8080/authserver
server:
  port: 8081
  context-path: /account/ui
security:
  basic:
    enabled: false
  oauth2:
    client:
      clientId: SampleClientId
      clientSecret: secret
      accessTokenUri: ${auth-server}/oauth/token
      userAuthorizationUri: ${auth-server}/oauth/authorize
      grant-type: client_credentials
    resource:
      userInfoUri: ${auth-server}/current
spring:
  thymeleaf:
    cache: false