auth-server: http://localhost:8080/authserver
server:
  port: 8082
  context-path: /
spring:
  application:
    name: account-ui
  http:
    encoding:
      force: true
  thymeleaf:
    cache: false
security:
  basic:
    enabled: false
  oauth2:
    client:
      clientId: accountClient
      clientSecret: accountSecret
      accessTokenUri: ${auth-server}/oauth/token
      userAuthorizationUri: ${auth-server}/oauth/authorize
      grant-type: authorization_code
    resource:
      userInfoUri: ${auth-server}/current
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/